$harleyorange:      #f8941d;
$harleyorangelight: #FFAC4A;
$shading:           #e2e2e2;
$darkgray:          #464646;
$black:             #212121;
$pastelred:         #CE6868;
$pastelred-light:   #F6A3A3;
$pastelblue:        #6C8FCA;
$pastelblue-light:  #93C0E0;
